 <!--============= Footer Section Starts Here =============-->
    <footer class="bg_img padding-top oh" data-background="/static/assets/images/footer/footer-bg.jpg">
        <div class="footer-top-shape">
            <img src="/static/assets/css/img/footer-top-shape.png" alt="css">
        </div>
        <div class="anime-wrapper">
            <div class="anime-1 plus-anime">
                <img src="/static/assets/images/footer/p1.png" alt="footer">
            </div>
            <div class="anime-2 plus-anime">
                <img src="/static/assets/images/footer/p2.png" alt="footer">
            </div>
            <div class="anime-3 plus-anime">
                <img src="/static/assets/images/footer/p3.png" alt="footer">
            </div>
            <div class="anime-5 zigzag">
                <img src="/static/assets/images/footer/c2.png" alt="footer">
            </div>
            <div class="anime-6 zigzag">
                <img src="/static/assets/images/footer/c3.png" alt="footer">
            </div>
            <div class="anime-7 zigzag">
                <img src="/static/assets/images/footer/c4.png" alt="footer">
            </div>
        </div>
        <div class="newslater-wrapper">
            <div class="container">
                <div class="newslater-area">
                    <div class="newslater-thumb">
                        <img src="/static/assets/images/footer/newslater.png" alt="footer">
                    </div>
                    <div class="newslater-content">
                        <div class="section-header left-style mb-low">
                            <h5 class="cate">عضویت</h5>
                            <h3 class="title">برای دریافت مزایای انحصاری</h3>
                        </div>
                        <form class="subscribe-form">
                            <input type="text" placeholder="ایمیل خود را وارد کنید" name="email">
                            <button type="submit" class="custom-button">عضویت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-top padding-bottom padding-top">
            <div class="container">
                <div class="row mb--60">
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget widget-links">
                            <h5 class="title">دسته بندی ها</h5>
                            <ul class="links-list">
                                <li>
                                    <a href="#0">در حال اتمام</a>
                                </li>
                                <li>
                                    <a href="#0">وسايل نقليه</a>
                                </li>
                                <li>
                                    <a href="#0">ساعت</a>
                                </li>
                                <li>
                                    <a href="#0">لوازم الکترونیک</a>
                                </li>
                                <li>
                                    <a href="#0">مشاور املاک</a>
                                </li>
                                <li>
                                    <a href="#0">جواهر سازی</a>
                                </li>
                                <li>
                                    <a href="#0">هنر</a>
                                </li>
                                <li>
                                    <a href="#0">ورزشی</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget widget-links">
                            <h5 class="title">درباره ما</h5>
                            <ul class="links-list">
                                <li>
                                    <a href="{% url 'about_us_page' %}">درباره ما</a>
                                </li>
                                <li>
                                    <a href="#0">راهنمایی</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget widget-links">
                            <h5 class="title">تماس با ما</h5>
                            <ul class="links-list">
                                <li>
                                    <a href="{% url 'contact_us_page' %}">با ما تماس بگیرید</a>
                                </li>
                                <li>
                                    <a href="{% url 'faqs_page' %}">راهنمایی و سوالات</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget widget-follow">
                            <h5 class="title">ما را دنبال کنید</h5>
                            <ul class="links-list">
                                <li>
                                    <a><i class="fas fa-phone-alt"></i>03532270057</a>
                                </li>
                                <li>
                                    <a><i class="fas fa-blender-phone"></i>03532270057</a>
                                </li>
                                <li>
                                    <a><i class="fas fa-envelope-open-text"></i>setinco@gmail.com</a>
                                </li>
                                <li>
                                    <a><i class="fas fa-location-arrow"></i>اصفهان ، دانشگاه اصفهان</a>
                                </li>
                            </ul>
                            <ul class="social-icons">
                                <li>
                                    <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="footer-bottom">#}
{#            <div class="container">#}
{#                <div class="copyright-area">#}
{#                    <div class="footer-bottom-wrapper">#}
{#                        <div class="logo">#}
{#                            <a href="index.html"><img src="/static/assets/images/logo/footer-logo.png" alt="logo"></a>#}
{#                        </div>#}
{#                        <ul class="gateway-area">#}
{#                            <li>#}
{#                                <a href="#0"><img src="/static/assets/images/footer/paypal.png" alt="footer"></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#0"><img src="/static/assets/images/footer/visa.png" alt="footer"></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#0"><img src="/static/assets/images/footer/discover.png" alt="footer"></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#0"><img src="/static/assets/images/footer/mastercard.png" alt="footer"></a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </footer>
    <!--============= Footer Section Ends Here =============-->



    <script src="/static/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="/static/assets/js/plugins.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/isotope.pkgd.min.js"></script>
    <script src="/static/assets/js/wow.min.js"></script>
    <script src="/static/assets/js/waypoints.js"></script>
    <script src="/static/assets/js/nice-select.js"></script>
    <script src="/static/assets/js/counterup.min.js"></script>
    <script src="/static/assets/js/owl.min.js"></script>
    <script src="/static/assets/js/magnific-popup.min.js"></script>
    <script src="/static/assets/js/yscountdown.min.js"></script>
    <script src="/static/assets/js/jquery-ui.min.js"></script>
    <script src="/static/assets/js/main.js"></script>